{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('New Questionary') }}{% endblock %}</h1>
{% endblock %}

{% block content %}

 <form method="post">

    <label for="description">{{ gettext('description') }}</label>
    <textarea name="description" id="description">{{ request.form['description'] }}</textarea>


    <input type="submit" value="{{ gettext('Save') }}">
  </form>
{% endblock %}