{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('Questionaries') }}{% endblock %}</h1>

  {% if not current_user.is_anonymous and current_user.is_admin() %}
    <a class="action" href="{{ url_for('questionary.create') }}">{{ gettext('New questionary') }}</a>
  {% endif %}
{% endblock %}

{% block content %}

  <table class="table table-striped">

    <thead>
      <tr>
        <th>{{ gettext('Questionary')}}</th>
        {% if not current_user.is_anonymous and current_user.is_admin() %}
        <th>{{ gettext('Visible')}}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
  {% for questionary in questionaries %}

    {% if questionary.visible or (not current_user.is_anonymous and current_user.is_admin()) %}

     <tr>
         <td><a class="action" href="{{ url_for('questionary.questionary',  queyid=questionary['queyid']) }}">{{questionary.description}}</a></td>
       {% if not current_user.is_anonymous and current_user.is_admin() %}
        <td>{{questionary.visible}}</td>
        <td> <a class="action" href="{{ url_for('questionary.update', queyid=questionary['queyid']) }}">{{ gettext('Edit') }}</a></td>
        {% endif %}

      </tr>
    {% endif %}

{% endfor %}
    </tbody>
  </table>


{% endblock %}