{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('Questions')}} - {{questionary['description'] }}{% endblock %}</h1>
  {% if not current_user.is_anonymous and current_user.is_admin() %}
      <a class="action" href="{{ url_for('question.create', queyid=questionary.queyid) }}">{{ gettext('New question') }}</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for question in questions %}
    <article class="question">
      <header>
        <div>
          <h1><a class="action" href="{{ url_for('question.answer', quenid=question.quenid, queyid=questionary.queyid) }}">{{ question.question }}</a></h1>
          {#<div class="about">by {{ question.username }} on {{ question.created.strftime('%Y-%m-%d') }}</div>#}
        </div>

        {% if not current_user.is_anonymous and current_user.is_admin() %}

          <a class="action" href="{{ url_for('question.update', quenid=question['quenid'], queyid=questionary['queyid']) }}">{{ gettext('Edit') }}</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
