{% extends 'base.html' %}

{% block header %}
  {# <h1>{% block title %}{{ gettext('Edit') }} "{{ questionary['description'] }}"{% endblock %}</h1> #}
  <h1>{% block title %}{{ gettext('Edit') }}{% endblock %}"{{ questionary['description'] }}"</h1>
{% endblock %}

{% block content %}

  <form method="post">
    <label for="description">{{ gettext('description') }}</label>
    <textarea name="description" id="description">{{ request.form['description'] or questionary['description'] }}</textarea>

    <input type="submit" value="{{ gettext('Save') }}">
  </form>
  <hr>
  <form action="{{ url_for('questionary.delete', queyid=questionary['queyid']) }}" method="post">
    <input class="danger" type="submit" value="{{ gettext('Delete') }}" onclick="return confirm('Are you sure?');"> {# FIXME gettext #}
  </form>
{% endblock %}