
.navbar {
  margin-bottom: 00;
  border-radius: 00;
  #background-color: #1abc9c;
  #color: red;
  #background-color: #4CAF50;
}

ul.nav li a, ul.nav li a:visited {
    #color: brown !important;
}

ul.nav li a:hover, ul.nav li a:active {
    #color: white !important;
}

/* Height of the grid so .sidenav can be 100% */
.row.content {height: 450px}

/* Gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* For small screens */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

.correctQuery {
    color: green;
    font-size: 1.25em;
    font-weight: bold
 }

.noCorrectQuery {
    color: red;
    font-size: 1.25em;
    font-weight: bold
 }

.errorMessage {
    color: blue;
    font-weight: bold
}


input[type=submit] {
    align-self:
    start;
    min-width: 10em;
}

.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
input[type=button] { align-self: start; min-width: 10em; }
