<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - {{ gettext('SQL Automatic Corrector') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>


 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">

      <li class="active"><a href="/">{{_('Home')}}</a></li>

      {# <li><a href="/questionary">{{_('Questionaries')}}</a></li> #}
       <li><a href="/subject">{{_('Subjects')}}</a></li>
      {% if not current_user.is_anonymous and current_user.is_admin() %}
      <li><a href="#">{{_('Admin options →')}}</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{_('Users')}}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{url_for('auth.users')}}">{{_('List users')}}</a></li>
         </ul>
      </li>
      {% endif %}



      {# <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{_('Listing')}}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{url_for('auth.users')}}">{{_('users')}}</a></li>
         </ul>
      </li>


      <li><a href="#">{{_('Otro')}}</a></li> #}

    </ul>
      <ul class="nav navbar-nav navbar-right">
         {% if current_user.is_anonymous %}
            {% if not config['ONLY_SAML'] %}
               <li><a href="{{ url_for('auth.login') }}"> <span class="glyphicon glyphicon-log-in"></span> {{_('Sign in')}}</a></li>
            {% endif %}

            {% if config['SAML_CONF']['SAML_PATH'] %}
               <li><a href="{{ url_for('saml2auth.index') }}?sso"> <span class="glyphicon glyphicon-log-in"></span> {{_('Sign in')}} ({{ config['SAML_CONF']['SAML_IDP_NAME'] }})</a></li>
            {% endif %}
         {% else %}
               <li> <a href="#">{{current_user.username}} </a>  </li>
            {% if not config['ONLY_SAML'] %}
               <li> <a href="{{ url_for('auth.logout') }}"> <span class="glyphicon glyphicon-log-out"></span> {{_('Sign out')}}</a></li>
            {% endif %}
            {% if config['SAML_CONF']['SAML_PATH'] %}
               <li><a href="{{ url_for('saml2auth.index') }}?slo"> <span class="glyphicon glyphicon-log-in"></span> {{_('Sign out')}} ({{ config['SAML_CONF']['SAML_IDP_NAME'] }})</a></li>
            {% endif %}

         {% endif %}

      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-10 text-left">

  <header>
    {% block header %}{% endblock %}
  </header>

    {# This is to show the flash message at the begining of the page #}
    {# TODO: Use bootstrap/css modals  #}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {# The main content of the page #}
    {% block content %}{% endblock %}

    </div>


  {# for another column on the right #}
  {#
    <div class="col-sm-1 sidenav">
      <div class="well">
        <p>Third</p>
      </div>
      <div class="well">
        <p>Second</p>
      </div>
    </div> #}
  </div>
</div>

   <hr>
  <footer class="container-fluid text-center">
        <ul class="nav navbar-nav">
          <li>{% if config['LICENSE'] %} <a href="{{config['LICENSE']['url'] }}">{{config['LICENSE']['text'] }}</a>{% endif %}</li>
          <li>{% if config['SOURCE_CODE'] %} <a href="{{config['SOURCE_CODE']['url'] }}">{{config['SOURCE_CODE']['text'] }}</a>{% endif %}</li>
        </ul>
  </footer>

</body>
</html>