{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('Log In') }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">{{ gettext('Username') }}</label>
    <input name="username" id="username" required>
    <label for="password">{{ gettext('Password') }}</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="{{ gettext('Log In') }}">
  </form>
{% endblock %}