{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('Register') }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">{{ gettext('Username') }}</label>
    <input name="username" id="username" required>
    <label for="password">{{ gettext('Password') }}</label>
    <input type="password" name="password" id="password" required>
    {# TODO: Retype password #}
    <label for="name">{{ gettext('Name') }}</label>
    <input name="name" id="name" required>

    <label for="usertype">{{ gettext('User type') }}</label>
    <input name="usertype" id="usertype" placeholder="student, teacher or admin">

    <input type="submit" value="{{ gettext('Register') }}">
  </form>
{% endblock %}
