{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('Users') }}{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>Users in the database</p>



  <table class="table table-striped">

    <thead>
      <tr>
        <th>username</th>
        <th>name</th>
        <th>email</th>
        <th>usertype</th>
      </tr>
    </thead>
    <tbody>
   {% for user in users %}
     <tr>
        <td>{{user.username}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td> {{user.usertype}}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>





{% endblock %}