{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('Editing') }}... {% endblock %}"{{ subject['name'] }}"</h1>
{% endblock %}

{% block content %}
  <form method="post">

  {% for questionary in questionaries %}
    <div class="checkbox">
    <input type="checkbox" id="{{questionary.queyid}}" name="questionaries" value="{{questionary.queyid}}">
    <label for="{{questionary.queyid}}">{{questionary.description}}</label><br>
    </div>
  {% endfor %}

    <input type="submit" value="{{ gettext('Save') }}">

  </form>
  <hr>

{% endblock %}