{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('New Subject') }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
    <label for="code">{{ gettext('Code') }}</label>
    <input name="code" class="form-control" id="code" value="{{ request.form['code'] }}" required>
    </div>

    <div class="form-group">
    <label for="code">{{ gettext('Academic year') }}</label>
    <input name="year" class="form-control" id="year" value="{{ request.form['year'] }}" required>
    </div>

    <div class="form-group">
    <label for="name">{{ gettext('Name') }}</label>
    <input name="name" class="form-control"  id="name" value="{{ request.form['name'] }}" required>
    </div>

    <div class="form-check">
    <input type="checkbox" class="form-check-input" name="visible" id="visible">
     <label for="visible">{{ gettext('Visible') }}</label>
    </div>


    <input type="submit" value="{{ gettext('Save') }}">
  </form>

{% endblock %}