{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('Subjects') }}{% endblock %}</h1>
  {% if not current_user.is_anonymous and current_user.is_admin() %}
    <a class="action" href="{{ url_for('subject.create') }}">{{ gettext('New subject') }}</a>

  {% endif %}

{% endblock %}

{% block content %}

  <table class="table table-striped">

    <thead>
      <tr>
        <th>{{ gettext('Code')}}</th>
        <th>{{ gettext('Name')}}</th>
        {% if not current_user.is_anonymous and current_user.is_admin() %}
        <th>{{ gettext('Visible')}}</th>
        {% endif %}

      </tr>
    </thead>
    <tbody>
  {% for subject in subjects %}

   {% if subject.visible or (not current_user.is_anonymous and current_user.is_admin()) %}
     <tr>
         <td><a class="action" href="{{ url_for('questionary.index', subjid=subject['subjid']) }}" title="{{ gettext('Click to access this subject') }}">{{subject.code}} - {{subject.academic_year}}</a></td>
         <td><a class="action" href="{{ url_for('questionary.index', subjid=subject['subjid']) }}" title="{{ gettext('Click to access this subject') }}">{{subject.name}}</a></td>
       {% if not current_user.is_anonymous and current_user.is_admin() %}
        <td> <a class="action" href="{{ url_for('subject.changeVisibility', subjid=subject['subjid']) }}" title="{{ gettext('Click to change') }}">
          {% if subject.visible %}  {{ gettext('Visible')}}
          {% else %} {{ gettext('Hidden')}}
          {% endif %} </a>
        </td>
        <td> <a class="action" href="{{ url_for('subject.update', subjid=subject['subjid']) }}" title="{{ gettext('Click to edit this subject') }}">{{ gettext('Edit') }} </a></td>
        {% endif %}
      </tr>
   {% endif %}

{% endfor %}
    </tbody>
  </table>


{% endblock %}