{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('Editing') }}... {% endblock %}"{{ subject['name'] }}"</h1>
{% endblock %}

{% block content %}
  <form method="post">

    <div class="form-group">
    <label for="code">{{ gettext('Code') }}</label>
    <input name="code" class="form-control" id="code" value="{{ request.form['code'] or subject['code']}}" required>
    </div>

    <div class="form-group">
    <label for="code">{{ gettext('Academic year') }}</label>
    <input name="year" class="form-control" id="year" value="{{ request.form['year'] or subject['academic_year']}}" required>
    </div>


    <div class="form-group">
    <label for="name">{{ gettext('Name') }}</label>
    <input name="name" class="form-control"  id="name" value="{{ request.form['name'] or subject['name'] }}" required>
    </div>

    <div class="form-check">
    <input type="checkbox" class="form-check-input" name="visible" id="visible" {% if request.form['visible'] or subject['visible'] %}checked {% endif %}>
     <label for="visible">{{ gettext('Visible') }}</label>
    </div>

    <input type="submit" value="{{ gettext('Save') }}">


  </form>
  <hr>
  <form action="{{ url_for('subject.delete', subjid=subject['subjid']) }}" method="post">
    <input class="danger" type="submit" value="{{ gettext('Delete') }}" onclick="return confirm('Are you sure?');"> {# FIXME gettext #}
  </form>


{#  Questionaries in this subject#}

  <table class="table table-striped">

    <thead>
      <tr>
        <th>{{ gettext('Questionaries in this subject')}}</th>
        {% if not current_user.is_anonymous and current_user.is_admin() %}
        <th>{{ gettext('Visible')}}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
  {% for questionary in questionaries %}
     <tr>
         <td><a class="action" href="{{ url_for('questionary.questionary',  queyid=questionary['queyid']) }}">{{questionary.description}}</a></td>
       {% if not current_user.is_anonymous and current_user.is_admin() %}
        <td> <a class="action" href="{{ url_for('subject.changeVisibilityQuestionary', queyid=questionary['queyid'], subjid=subject['subjid']) }}">
          {% if questionary.visible %}  {{ gettext('Visible')}}
          {% else %} {{ gettext('Hidden')}}
          {% endif %} </a>
        </td>
        <td> <a class="action" href="{{ url_for('subject.removeQuestionary', queyid=questionary['queyid'], subjid=subject['subjid']) }}">{{ gettext('Remove this questionary') }}</a></td>
        {% endif %}

      </tr>
{% endfor %}
    </tbody>
  </table>

  {% if not current_user.is_anonymous and current_user.is_admin() %}
      <a class="action" href="{{ url_for('subject.addQuestionary', subjid=subject.subjid) }}">{{ gettext('Add questionary') }}</a>
  {% endif %}

{% endblock %}