{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('Editing') }}... {% endblock %}"{{ question['question'] }}"</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="expression">{{ gettext('Expression') }}</label>
    <input id="expression" name="expression" value="">


      <label for="helpstring">{{ gettext('Help String') }}</label>
      <input name="helpstring" id="helpstring" value="">
    <input type="submit" value="{{ gettext('Save') }}">

  </form>
  {% include 'question/expressioninstructions.html' %}
{% endblock %}