{% extends 'base.html' %}

{% block header %}
  {# <h1>{% block question %}{{ gettext('Answer') }} "{{ question['question'] }}"{% endblock %}</h1> #}
  <h1>{% block question %}{{ gettext('Answer') }} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {# <label>{{ gettext('Question') }}</label>#}
    
    <h2>{{question['question'] }}</h2>
    <label for="answer">{{ gettext('Your answer') }}</label>
    <textarea name="answer" id="answer">{{ request.form['answer']}}</textarea>
    <input type="submit" value="{{ gettext('Send') }}">
  </form>
  <hr>
  {# <form action="{{ url_for('questionary.index') }}" method="get"> #}

   {# FIXME: What happens if queyid is not defined ????#}
   <form action="{{ url_for('questionary.questionary', queyid=queyid) }}" method="get"> 
    <input class="danger" type="submit" value="{{ gettext('Cancel') }}" onclick="return confirm('Are you sure?');">     {# FIXME gettext #}
  </form>
{% endblock %}
