{% extends 'base.html' %}

{% block header %}
  <h1>{% block question %}{{ gettext('Your Answer') }} {% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>{{question['question'] }}</h2>
    {% if result %} 
    <p class="correctQuery">{{ gettext('Your query is correct.') }}</p>
    {% else %} 
    <p class="noCorrectQuery">{{ gettext('Your query is NOT correct.') }}</p>
    {% endif %}

<pre>
{{query}}
</pre>



    {% if not result %}

    {% if errorMessage %}
        <p class="errorMessage">{{ errorMessage|safe }}</p>
    {% endif %}
    <p>{{ gettext('Try this things ...') }}</p>
    <ul>
    <li>{{ gettext('Check the columns in the SELECT and their order.') }}</li>
    <li>{{ gettext('Check the ORDER BY clause.') }}</li>
    <li>{{ gettext('...') }}</li>
    </ul>    
    {% endif %}


  <hr>


  
  <form action="{{ url_for('questionary.questionary', queyid=queyid) }}" method="get"> 

    <input type="button" value="{{ gettext('Back') }}" onclick="window.history.back()" />

    <input type="submit" value="{{ gettext('Continue') }}">
  </form>
{% endblock %}
