{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('New Question') }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="question">{{ gettext('Question') }}</label>
    <input name="question" id="question" value="{{ request.form['question'] }}" required>

    <label for="solution">{{ gettext('Solution') }}</label>
    <textarea name="solution" id="solution">{{ request.form['solution'] }}</textarea>

    {% if queyid %}
      <label for="questionary">{{ gettext('Questionary') }}</label>
      {# <input name="questionary" id="questionary" value="{{ request.form['questionary'] }}"> #}
      <input name="questionary" id="questionary" value="{{ queyid }}">
    {% endif %}

    <input type="submit" value="{{ gettext('Save') }}">
  </form>
{% endblock %}