<p>In <b>Expressión</b> you can write simple words or regular expressions. Several alternative expressions can be written separated by the <tt>DELIMITERCHARS</tt> defined in <tt>config.py</tt></p>
<p>For example:</p>
<ul>
    <li><tt>UPPER,,,,LOWER</tt>: if the word UPPER or LOWER have to appear in the solution</li>
    <li><tt>where upper\([a-z\.]*nombre\)</tt>: if the word UPPER has to appear in the solution in the WHERE clause applied to an attribute called <tt>nombre</tt> in a table</li>
</ul>
<p> The <tt>DELIMITERCHARS</tt> in the above example are <tt>,,,,</tt></p>
<p>In <b>Help string</b> you have to write the sentence that will be shown to the user if the expression does not appear (must have) or does appear (must not have) in the solution</p>