{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('Questions') }}{% endblock %}</h1>
  {% if not current_user.is_anonymous and current_user.is_admin() %}
    <a class="action" href="{{ url_for('question.create') }}">{{ gettext('New') }}</a>

  {% endif %}

{% endblock %}

{% block content %}
  {% for question in questions %}
    <article class="question">
      <header>
        <div>
          <h1><a class="action" href="{{ url_for('question.answer', quenid=question['quenid']) }}">{{ question['question'] }}</a></h1>
          <div class="about">{{ gettext('by') }} {{ question['username'] }} {{ gettext('on') }} {{ question['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if not current_user.is_anonymous and current_user.is_admin() %}
          <a class="action" href="{{ url_for('question.update', quenid=question['quenid']) }}">{{ gettext('Edit') }}</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}