{% extends 'base.html' %}

{% block header %}
  {# <h1>{% block title %}{{ gettext('Edit') }} "{{ question['question'] }}"{% endblock %}</h1> #}
  <h1>{% block title %}{{ gettext('Edit') }}{% endblock %}"{{ question['question'] }}"</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="question">{{ gettext('Question') }}</label>
    <input name="question" id="question"
      value="{{ request.form['question'] or question['question'] }}" required>
    <label for="solution">{{ gettext('Solution') }}</label>
    <textarea name="solution" id="solution">{{ request.form['solution'] or question['solution'] }}</textarea>

    {% if queyid %}
      <label for="questionary">{{ gettext('Questionary') }}</label>
      <input name="questionary" id="questionary" value="{{ queyid }}">
      <input type="hidden" name="queidold" id="queidold" value="{{ queyid }}">
    {% endif %}

    <input type="submit" value="{{ gettext('Save') }}">


  </form>
  <hr>
  <form action="{{ url_for('question.delete', quenid=question['quenid']) }}" method="post">
    <input class="danger" type="submit" value="{{ gettext('Delete') }}" onclick="return confirm('Are you sure?');"> {# FIXME gettext #}
  </form>

{#  expressions Must Have this query#}

  <table class="table table-striped">

    <thead>
      <tr>
        <th>{{ gettext('Expressions must have this query')}}</th>
        {% if not current_user.is_anonymous and current_user.is_admin() %}
        <th>{{ gettext('Help string')}}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
  {% for expression in expressionsMustHave %}
     <tr>
         <td><a class="action" href="{{ url_for('question.change_musthave_expression', quenid=question.quenid, exprid=expression.exprid, queyid=queyid) }}">{{expression.expression}}</a></td>
       {% if not current_user.is_anonymous and current_user.is_admin() %}
        <td> <a class="action" href="{{ url_for('question.change_musthave_expression', quenid=question.quenid, exprid=expression.exprid, queyid=queyid) }}">
        {{expression.helpstring }}
        </a>
        </td>
        <td> <a class="action" href="{{ url_for('question.remove_musthave_expression', quenid=question.quenid, exprid=expression.exprid, queyid=queyid) }}">{{ gettext('Remove this expression') }}</a></td>
        {% endif %}

      </tr>
  {% endfor %}
  {% if not current_user.is_anonymous and current_user.is_admin() %}
      <a class="action" href="{{ url_for('question.add_musthave_expression', quenid=question.quenid, queyid=queyid) }}">{{ gettext('Add expression') }}</a>
  {% endif %}

    </tbody>
  </table>

{#  expressions Must Not Have this query#}

  <table class="table table-striped">

    <thead>
      <tr>
        <th>{{ gettext('Expressions must not have this query')}}</th>
        {% if not current_user.is_anonymous and current_user.is_admin() %}
        <th>{{ gettext('Help string')}}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
  {% for expression in expressionsMustnotHave %}
     <tr>
         <td><a class="action" href="{{ url_for('question.change_mustnothave_expression', quenid=question.quenid, exprid=expression.exprid, queyid=queyid) }}">{{expression.expression}}</a></td>
       {% if not current_user.is_anonymous and current_user.is_admin() %}
        <td> <a class="action" href="{{ url_for('question.change_mustnothave_expression', quenid=question.quenid, exprid=expression.exprid, queyid=queyid) }}">
        {{expression.helpstring }}
        </a>
        </td>
        <td> <a class="action" href="{{ url_for('question.remove_mustnothave_expression', quenid=question.quenid, exprid=expression.exprid, queyid=queyid) }}">{{ gettext('Remove this expression') }}</a></td>
        {% endif %}

      </tr>
  {% endfor %}
  {% if not current_user.is_anonymous and current_user.is_admin() %}
      <a class="action" href="{{ url_for('question.add_mustnothave_expression', quenid=question.quenid, queyid=queyid) }}">{{ gettext('Add expression') }}</a>
  {% endif %}

    </tbody>
  </table>



{% endblock %}