{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ gettext('Editing') }}... {% endblock %}"{{ question['question'] }}"</h1>
{% endblock %}

{% block content %}
  <form method="post">

    <input type="hidden" name="queidold" id="queidold" value="{{ queyid }}">

    <input type="hidden" name="helpstringold" id="helpstringold" value="{{ request.form['helpstring'] or expression.helpstring}}">

    <label for="expression">{{ gettext('Expression') }}</label>
    <input id="expression" name="expression" value="{{ request.form['expression'] or expression.expression}}">

    <label for="helpstring">{{ gettext('Help String') }}</label>
    <input name="helpstring" id="helpstring" value="{{ request.form['helpstring'] or expression.helpstring}}">

    <input type="submit" value="{{ gettext('Save') }}">

  </form>
  {% include 'question/expressioninstructions.html' %}

{% endblock %}